services:
  postgres:
    image: postgres:17
    container_name: test-auth-db
    ports:
      - 7777:5432
    networks:
      - auth-test-network
    environment:
      - POSTGRES_USER=test_user
      - POSTGRES_PASSWORD=test_password
      - POSTGRES_DB=test_db

  redis:
      image: redis:7.2
      container_name: test-auth-redis
      ports: 
        - 6677:6379
      networks:
        - auth-test-network

  app:
    image: auth:1.0
    container_name: test-auth-app
    networks:
      - auth-test-network
    env_file:
      - .env.test
    command: uv run pytest -v -s
    depends_on:
      - postgres
      # - redis

networks:
  auth-test-network:
    external: true